@font-face {
  font-family: 'Lexend Deca';
  src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
      url('../fonts/LexendDeca-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/SpaceMono-Bold.woff2') format('woff2'),
      url('../fonts/SpaceMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --yellov: #fcb72b;
  --dark-navy: #495567;
  --dim-grey: #939caa;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;
  --light-yellov: #fff4df;
  --white: #fff;
  --text-color: #939CAA;

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: 'Lexend Deca', 'Arial', sans-serif;
  background-color: var(--white);
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color);
}
.container {
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, button {
  font-family: 'Space Mono', "Arial", sans-serif;
  font-weight: 700;
}
.logo:active {
  opacity: 0.8;

}
.hero {
  display: flex;
  align-items: center;
}
.button {
  border: 3px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--yellov);
  padding: 14px 39px;
  color: var(--white);
  text-transform: capitalize;
}
.button:hover {
  border: 3px solid var(--yellov);
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--yellov);
}
.button:active {
  border: 3px solid var(--yellov);
  box-sizing: border-box;
  color: var(--yellov);
  opacity: 0.6;
}
.sitenav {
  margin-left: 58px;
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__list-item {
  margin-right: 30px;
  padding-bottom: 27px;
  padding-top: 32px;
}
.sitenav__list-item:hover {
  margin-right: 30px;
}
.sitenav__link {
  text-decoration: none;
  color: #939CAA;
}
.sitenav__link:hover {
  color: var(--yellov);
}
.sitenav__link:active {
  color: var(--yellov);
  opacity: 0.5;
}


/* HERO */
.site-hero {
  background-image: url(../img/hero-round.svg), url(../img/hero-bg.png) ;
  background-position: calc(50% + 653px) 420px, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;
  display: block;


}
.site-hero-content {
  padding-top: 153px;
  padding-bottom: 152px;
  width: 500px;
}
.hero__heading {
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 10px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--white);
  }
.hero__text-wrapper {
  padding-left: 65px;
  width: 405px;
  position: relative;
}
.hero__text-wrapper::before {
  position: absolute;
  content: "";
  background-image: url(../img/hero-arrow-line.svg);
  display: block;
  height: 15px;
  width: 203px;
  background-repeat: no-repeat;
  top: 43px;
  left: -160px;
}
.hero__text-wrapper::after {
  position: absolute;
  content: "";
  background-image: url(../img/hero-arrow.svg);
  display: block;
  height: 138px;
  width: 452px;
  background-repeat: no-repeat;
  top: 43px;
  left: 610px;
}

.hero__text {
  text-align: justify;
  margin-top: 0;
  width: 405px;
  margin-bottom: 54px;
  color: var(--white);
  margin-left: 60px;
}