@font-face {
  font-family: 'Lexend Deca';
  src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
      url('../fonts/LexendDeca-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/SpaceMono-Bold.woff2') format('woff2'),
      url('../fonts/SpaceMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --yellov: #fcb72b;
  --dark-navy: #495567;
  --dim-grey: #939caa;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;
  --light-yellov: #fff4df;
  --white: #fff;
  --text-color: #939CAA;

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: 'Lexend Deca', 'Arial', sans-serif;
  background-color: var(--white);
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--text-color);
  overflow-x: hidden ;
}
.container {
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, button {
  font-family: 'Space Mono', "Arial", sans-serif;
  font-weight: 700;
}
.logo:active {
  opacity: 0.8;

}
.hero {
  display: flex;
  align-items: center;
}
.button {
  border: 3px solid transparent;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--yellov);
  padding: 14px 39px;
  color: var(--white);
  text-transform: capitalize;
}
.button:hover {
  border: 3px solid var(--yellov);
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--yellov);
}
.button:active {
  border: 3px solid var(--yellov);
  box-sizing: border-box;
  color: var(--yellov);
  opacity: 0.6;
}
.sitenav {
  margin-left: 58px;
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitenav__list-item {
  margin-right: 30px;
  padding-bottom: 27px;
  padding-top: 32px;
}
.sitenav__list-item:hover {
  margin-right: 30px;
}
.sitenav__link {
  text-decoration: none;
  color: #939CAA;
}
.sitenav__link:hover {
  color: var(--yellov);
}
.sitenav__link:active {
  color: var(--yellov);
  opacity: 0.5;
}


/* HERO */
.site-hero {
  background-image: url(../img/hero-round.svg), url(../img/hero-bg.png) ;
  background-position: calc(50% + 653px) 426px, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;


}
.site-hero-content {
  padding-top: 153px;
  padding-bottom: 152px;
}
.hero__heading {
  margin-top: 0;
  width: 500px;
  margin-bottom: 40px;
  margin-left: 10px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--white);
  }
.hero__text-wrapper {
  width: 405px;
  position: relative;
  margin-left: 70px;

}
.hero__text-wrapper::before {
  position: absolute;
  content: "";
  background-image: url(../img/hero-arrow-line.svg);
  display: block;
  height: 15px;
  width: 203px;
  background-repeat: no-repeat;
  top: 43px;
  left: -225px;
}
.hero__text-wrapper::after {
  position: absolute;
  content: "";
  background-image: url(../img/hero-arrow.svg);
  display: block;
  height: 138px;
  width: 452px;
  background-repeat: no-repeat;
  top: 43px;
  left: 430px;
}

.hero__text {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 54px;
  width: 405px;
  color: var(--white);
}
.site-feature {
  padding-top: 160px;
  padding-bottom: 200px;
}
.feature {
}
.feature__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: -30px;
  padding-top: 0;
  margin-bottom: 0;
}
.feature__item {
  width: 350px;
  margin-left: 30px;
}
.feature__img {
  width: 96px;
  height: 96px;
  background-color: var(--yellov);
  border-radius: 50%;
  background-image: url(../img/feature-phone.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.feature__img-scooter {
  background-image: url(../img/feature-scooter.svg);
}
.feature__img-scooterwithperson {
  background-image: url(../img/feature-scooter-with-person.svg);
}

.feature__heading {
  font-size: 24px;
  color: var(--dark-navy)
}
.site-info {
}
.info__content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: -160px;
  list-style: none;
  margin-left: 0;
}
.info__content {
  width: 445px;
}
.info__heading {
  width: 445px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--dark-navy)
}
.info__text {
  margin-top: 0;
  margin-bottom: 40px;
 }

 /*
.info__img-wrapper {
  position: relative;
  z-index: 1;
}
.info__img {
  position: absolute;
  z-index: -1;
  top: -40px;
  right: 0;

} */
/* .info__img-wrapper::before {
  position: absolute;
  top: 266px;
  right: -54px;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/info-boy-img-arrow.svg);
  background-position: calc(50% + 100px);
  background-size: auto;
  display: block;
  height: 150px;
  width: 735px;
}
.info__img-wrapper::after {
  position: absolute;
  top: -40px;
  right: -482px;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/info-mask.png);
  background-position: calc(50% + 100px);
  background-size: auto;
  display: block;
  height: 445px;
  width: 654px;
  z-index: -1;
} */

.info-item{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 160px;
}

.info-item:nth-child(2n){
  flex-direction: row-reverse;


}

.info-item:nth-child(2n)::after{
  left: calc(50% - 1114px);
  background-image: url("../img/item-info-left.png");
  background-repeat: no-repeat;
}


.info-item:nth-child(2n) .info__img{
  margin-left: 0;
  margin-right: 220px;
}



.info-item::after{
  content: '';
  width: 1080px;
  height: 445px;
  position: absolute;
  background-image: url("../img/item-info-first.png");
  left: calc(50% + -31px);
  top: 0;
}

.info__img{
  margin-left: 220px;
}
.footer {
  background-color: var(--dark-navy);
}
.site-footer {
  background-image: url(../img/footer-bg-img.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  padding-top: 102px;
  padding-bottom: 102px;
}
.footer__heading {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--white);
  width: 415px;

}
.footer__list {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  margin-left: -18px;
  margin-left: auto;
}
.footer__item {
  margin-left: 18px;
}